<div class="panel-heading" data-toggle="collapse" href="#collapse-issue-<%- model.get('id') %>">
	<a class="gitlink" target="_" href="<%- model.get('html_url') %>"><small><%- model.fullName() %></small></a>
	<% if (assignee != null) { %>
	<img title="<%- assignee.login %>" data-login="<%- assignee.login %>" class="avatar" src="<%= assignee.avatar_url %>">
	<% } %>
	<p class="issue-title panel-title">
	<%- model.get('title') %>
	</p>
	<% if (deps.length > 0) { %>
	<div class="gitis-progress">
		<div class="gitis-progress-bar" style="width: <%- ((done.length / deps.length) * 100.0) %>%">
		</div>
	</div>
	<% } %>
</div>
<div id="collapse-issue-<%- model.get('id') %>" class="panel-collapse collapse<%- expanded ? ' in' : '' %>">
	<div class="panel-body">
		<%= model.htmlBody() %>
		<div class="deps<%- deps.length == 0 ? ' bordered' : '' %>">
			Deps
			<% if (deps.length > 0) { %>
			<ul class="list-group">
			</ul>
			<% } %>
		</div>
	</div>
	<div class="panel panel-default comments">
		<div class="panel-heading" data-toggle="collapse" href="#collapse-issue-<%- model.get('id') %>-comments">
			<p class="panel-title toggle-comments">
			<span class="glyphicon glyphicon-repeat hidden"></span> <%- model.get('comments') %> comments
			</p>
		</div>
		<div id="collapse-issue-<%- model.get('id') %>-comments" class="panel-collapse collapse">
			<div class="panel-body">
				<ul class="list-group comment-list">
				</ul>
			</div>
		</div>
	</div>
</div>

