<div class="row">
	<div class="col-md-4 hidden state-col backlog-col">
		<h3><a href="#" class="close-backlog"><span class="glyphicon glyphicon-folder-open"></span></a> Backlog</h3>
		<ul class="list-group backlog-issues issue-list">
		</ul>
	</div>
	<div class="col-md-4 state-col">
		<h3><a href="#" class="open-backlog"><span class="glyphicon glyphicon-folder-close"></span></a> Ready</h3>
		<ul class="list-group ready-issues issue-list">
		</ul>
	</div>
	<div class="col-md-4 state-col">
		<h3>Doing</h3>
		<ul class="list-group doing-issues issue-list">
		</ul>
	</div>
	<div class="col-md-4 state-col">
		<h3>Done</h3>
		<ul class="list-group done-issues issue-list">
		</ul>
	</div>
</div>

