<div class="row">
	<div class="col-md-4 hidden state-col backlog-col">
		<h3><a href="#" class="close-backlog"><span class="glyphicon glyphicon-folder-open"></span></a> Backlog</h3>
		<div class="panel-group issue-list backlog-issues">
		</div>	
	</div>
	<div class="col-md-4 state-col">
		<h3><a href="#" class="open-backlog"><span class="glyphicon glyphicon-folder-close"></span></a> Ready</h3>
		<div class="panel-group issue-list ready-issues">
		</div>	
	</div>
	<div class="col-md-4 state-col">
		<h3>Doing</h3>
		<div class="panel-group issue-list doing-issues">
		</div>	
	</div>
	<div class="col-md-4 state-col">
		<h3>Done</h3>
		<div class="panel-group issue-list done-issues">
		</div>	
	</div>
</div>

