#content {
	margin-left: 5px;
}
.issue-title {
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
}
.issue {
	border: 1px solid black;
	margin: 3px;
	padding: 3px;
}
.issue-list {
	min-height: 100%;
}
