.gitis-progress {
	width: 100%;
	height: 3px;
	background-color: gray;
}
.gitis-progress-bar {
	height: 3px;
	background-color: lightgreen;
}
#content {
	margin-left: 5px;
}
.avatar {
	height: 42px;
	float: left;
	margin-left: -13px;
}
.issue-list {
	overflow: auto;
}
.issue-title {
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
}
