.bordered {
	border: 1px dotted black;
}
.dropme {
	border: 2px solid red;
}
.deps {
	min-height: 50;
	padding: 3px;
}
.deps .list-group-item {
}
.gitis-progress {
	width: 100%;
	height: 3px;
	background-color: gray;
}
.gitis-progress-bar {
	height: 3px;
	background-color: lightgreen;
}
#content {
	margin-left: 5px;
}
.collaborators {
	display: inline;
}
.login-button {
	display: inline;
}
.avatar {
	height: 42px;
}
.issue .avatar {
	float: left;
	margin-left: -13px;
}
.issue-list {
	overflow: auto;
}
.issue-title {
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
}
